{% extends "main/base.html" %}
<!-- ----------------------------------- -->
{% block title %} Create an Account {% endblock %}
<!-- --------------- -->
{% load crispy_forms_tags %}
<!-- ----------- -->
{% block content %}

<div class="row justify-content-center">
    <div class="col-8">

        <h1 class="mt-2">Tạo tài khoản mới</h1>
        <hr class="mt-0 mb-4">


        <form method="POST" class="form-group">
            {% csrf_token %} {{form|crispy}}
            <button type="submit" class="btn btn-success"> Đăng ký </button>
        </form>

    </div>
</div>

{% endblock%}